.internal-page {
  border: 1px dashed orange;
  perspective: 3000px;
  height: 600px;
  perspective-origin: 50% 50%;
}

@keyframes fadeIn {
  from { opacity: 0; margin-left: 50%; }
  to { opacity: 1; margin-left: 0; }
}