@import "../../../styles/variables";

/*-------------
  SEARCH-BAR
--------------*/

.input-group {

  .form-control {
    border: $input-border;
    box-shadow: $input-inset-shadow;
    border-right: none;
    font-family: $app-font-family;
    font-size: $input-font-size;
    text-transform: capitalize;
    padding: $input-padding;
    border-top-left-radius: $input-radius;
    border-bottom-left-radius: $input-radius;
    width: 100%;
  
  }

  .btn-search {
    padding: $btn-search-padding;
    border: $input-border;
    border-top-right-radius: $input-radius;
    border-bottom-right-radius: $input-radius;
    font-family: $app-font-family;
    color: white;
    font-size: $input-font-size;
    background: $btn-search-background;
    transition: $transition-default;
    cursor: pointer;

    &:hover {
      box-shadow: $input-inset-shadow;
    }
  }
}

.select-input {
  border: $input-border;
  box-shadow: $input-inset-shadow;
  border-right: none;
  font-family: $app-font-family;
  font-size: $input-font-size;
  height: $input-height !important;
  padding: $input-padding !important;
  border-radius: $input-radius;

  @media all and (max-width: $screen-smaller) {
    margin-bottom: $input-margin-bottom;
  }
}

.form-container {
  max-width: $form-max-width;
  margin: auto;
}