@import "../../../styles/variables";

.modal-container {
  top: 0;
  z-index: 3;
  width: 100%;
  min-height: 100%;
  //position: absolute;
  padding-bottom: 120px;
  background: transparent;

  &:before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    position: fixed;
    min-height: 100%;
    background: rgba(0,0,0,0.2);
  }
}

.more-info-modal {
  width: 80%;
  //top: 90px;
  z-index: 4;
  opacity: 1;
  height: auto;
  margin: auto;
  color: #eeecdc;
  overflow: hidden;
  max-width: 1200px;
  position: relative;
  border: $card-border;
  box-shadow: $inset-box-shadow;
  text-shadow: $text-shadow;
  border-radius: $radius-small;
  background: rgba(19, 13, 19, 1);
  //animation: modalFadeIn .5s ease-out;
  transition: .3s ease;

  &:hover {
    opacity: 1;
    //box-shadow: $hover-box-shadow;
    background: rgba(19, 13, 19, 1);
  }

  @media all and (max-width: 600px) {
    width: auto;
    margin: 15px;

    .modal-hero {

      .date-and-time {
        display: none;
      }
    }
  }

  /**************
    MODAL-HEADER: TABS
   **************/

  .modal-tabs {
    height: 35px;
    text-align: left;
    position: relative;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;

    a {
      flex: 1;
      padding: 5px 15px;
      position: relative;
      z-index: 1;
      font-size: .9em;
      cursor: pointer;
      bottom: 0;
      margin-left: -10px;
      text-shadow: none;
      font-weight: 100 !important;
      color: rgba(155, 155, 155, 1);

      &:hover {
        color: rgba(155, 155, 155, 1);
      }

      .city-name {
        margin-top: 5px;
        padding-left: 5px;
        //border: 1px solid orange;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: block;
        max-height: 25px;
        animation: TabNameIn .9s ease;

        &:hover {
          color: #fff4f3;
          transition: .3s ease;
        }
      }

      svg {
        position: absolute;
        right: 20px;
        top: 12px;
        animation: TabNameIn .9s ease;

        &:hover {
          color: #ff786b;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:before {
        content: "";
        position: absolute;
        border-bottom: 29px solid rgb(71, 69, 70);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
        left: 0;
        width: calc(100% - 2px);
        z-index: -1;
        bottom: 0;
        animation: TabBeforeIn .6s ease;
      }

      &:after {
        content: "";
        position: absolute;
        border-bottom: 30px solid rgba(19, 13, 19, 1);
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        height: 0;
        left: -1px;
        width: calc(100%);
        z-index: -2;
        bottom: 0;
        animation: TabIn .6s ease;
      }

      &.active {
        z-index: 2;
        bottom: -1px;
        color: white;

        &:before {
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 30px solid rgba(19, 13, 19, 1);
        }

        &:after {
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-bottom: 31px solid rgb(255, 248, 252);
        }
      }
    }
  }

  @keyframes TabIn {
    0% { width: 10%; }
    100% { width: 100%; }
  }

  @keyframes TabBeforeIn {
    0% { width: 10%; }
    100% { width: calc(100% - 2px); }
  }

  @keyframes TabNameIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  /**************
    MODAL-HERO
   **************/

  .modal-hero {
    padding: 15px;
    background: $card-bg-fallback;
    //border-bottom: #eeecdc 1px solid;
    //border-top: #eeecdc 1px solid;
    box-shadow: $inset-box-shadow;
    height: 99px;

    span {
      font-size: 16px;
    }

    .title {
      text-align: left;
      float: left;
    }

    .date-and-time {
      text-align: right;
      float: right;
    }

    /***********
      clear sky
    ************/

    &.hero-bg-01d {
      background: url('./img/01d2.jpg') !important;
    }

    &.hero-bg-01n {
      background: url('./img/01n.jpg') !important;
    }

    /************
      Few clouds
    *************/

    &.hero-bg-02d {
      background: url('./img/02d2.jpg') !important;
    }

    &.hero-bg-02n {
      background: url('./img/02n3.jpg') !important;
    }

    /******************
      Scattered clouds
    *******************/

    &.hero-bg-03d {
      background: url('./img/03d.jpg') !important;
      color: $card-inverse-color !important;
    }

    &.hero-bg-03n {
      background: url('./img/03nd.jpg') !important;
    }

    /***************
      Broken clouds
     ***************/

    &.hero-bg-04d {
      color: $card-inverse-color !important;
      background: url('./img/04d.jpg') !important;
    }

    &.hero-bg-04n {
      background: url('./img/04n.jpg') !important;
    }

    /*************
      Shower rain
    **************/

    &.hero-bg-09d {
      background: url('./img/09d.jpg') !important;
    }

    &.hero-bg-09n {
      background: url('./img/09n.jpg') !important;
    }

    /******
      Rain
    *******/

    &.hero-bg-10d {
      color: $card-inverse-color !important;
      background: url('./img/10d.jpg') !important;
    }

    &.hero-bg-10n {
      background: url('./img/10n.jpg') !important;
    }


    /**************
      Thunderstorm
    ***************/

    &.hero-bg-11d {
      background: url('./img/11d.jpg') !important;
    }

    &.hero-bg-11n {
      background: url('./img/11n.jpg') !important;
    }

    /******
      Snow
    *******/

    &.hero-bg-13d {
      background: url('./img/13d.jpg') !important;
    }

    &.hero-bg-13n {
      background: url('./img/13n.jpg') !important;
    }

    /******
      Mist
    *******/

    &.hero-bg-50d {
      background: url('./img/50d.jpg') !important;
    }

    &.hero-bg-50n {
      background: url('./img/50n.jpg') !important;
    }
  }

  .chart-container {
    padding: 15px;


    .chart-header {
      height: 60px;
      display: flex;
      padding: 15px 0;
      align-items: center;
      margin-bottom: 15px;
      border-bottom: 1px solid #989687;

      img {
        width: 25px;
        //margin-top: 10px;
        filter: invert(100%);
      }

      span {
        margin: 0;
        right: 30px;
        float: right;
        font-size: 22px;
        position: absolute;
      }
    }
  }

  .credits {
    opacity: 0.5;
    font-size: 12px;
    margin-top: 15px;
    font-weight: lighter;

    a {
      color: #eeecdc;
      text-decoration: none;
    }
  }
}

@keyframes modalFadeIn {
  from { opacity: 0; top: 80px; }
  to { opacity: 1; top: 60px; }
}