@import "../../../styles/variables";

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: 3;
}

.more-info-modal {
  //box-shadow: $box-shadow;
  margin: 0 10%;
  background: rgba(255,255,255,0);
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 4;
  border-radius: $radius-small;
  opacity: 1;
  top: 60px;
  animation: modalFadeIn .5s ease-out;
  color: #eeecdc;

  .modal-header {
    border-bottom: #eeecdc 1px solid;
  }
}

@keyframes modalFadeIn {
  from { opacity: 0; top: 80px; }
  to { opacity: 1; top: 60px; }
}