@import "../../../styles/variables";

.modal-container {
  top: 0;
  z-index: 3;
  width: 100%;
  min-height: 100%;
  position: absolute;
  padding-bottom: 120px;
  background: transparent;

  &:before {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    position: fixed;
    min-height: 100%;
    background: rgba(0,0,0,0.2);
  }
}

.more-info-modal {
  width: 80%;
  top: 60px;
  z-index: 4;
  opacity: 1;
  height: auto;
  margin: auto;
  color: #eeecdc;
  overflow: hidden;
  max-width: 1200px;
  position: relative;
  border: $card-border;
  box-shadow: $box-shadow;
  text-shadow: $text-shadow;
  border-radius: $radius-small;
  background: rgba(19, 13, 19, 0.9);
  animation: modalFadeIn .5s ease-out;
  transition: .3s ease;

  &:hover {
    opacity: 1;
    box-shadow: $hover-box-shadow;
    background: rgba(19, 13, 19, 1);
  }

  @media all and (max-width: 600px) {
    width: auto;
    margin: 15px;

    .modal-header {

      .date-and-time {
        display: none;
      }
    }
  }

  /**************
    MODAL-HEADER
   **************/

  .modal-header {
    padding: 15px;
    background: $card-bg-fallback;
    border-bottom: #eeecdc 1px solid;
    box-shadow: $inset-box-shadow;

    span {
      font-size: 16px;
    }

    .title {
      text-align: left;
    }

    .date-and-time {
      text-align: right;
    }

    /***********
      clear sky
    ************/

    &.modal-bg-01d {
      background: url('./img/01d2.jpg') !important;
    }

    &.modal-bg-01n {
      background: url('./img/01n.jpg') !important;
    }

    /************
      Few clouds
    *************/

    &.modal-bg-02d {
      background: url('./img/02d2.jpg') !important;
    }

    &.modal-bg-02n {
      background: url('./img/02n3.jpg') !important;
    }

    /******************
      Scattered clouds
    *******************/

    &.modal-bg-03d {
      background: url('./img/03d.jpg') !important;
      color: $card-inverse-color !important;
      border-bottom: $card-inverse-border !important;
    }

    &.modal-bg-03n {
      background: url('./img/03nd.jpg') !important;
    }

    /***************
      Broken clouds
     ***************/

    &.modal-bg-04d {
      background: url('./img/04d.jpg') !important;
      color: $card-inverse-color !important;
      border-bottom: $card-inverse-border !important;
    }

    &.modal-bg-04n {
      background: url('./img/04n.jpg') !important;
    }
  }

  .chart-container {
    padding: 15px;

    .chart-header {
      height: 60px;
      display: flex;
      padding: 15px 0;
      align-items: center;
      margin-bottom: 15px;
      border-bottom: 1px solid #989687;

      span {
        margin: 0;
        right: 30px;
        float: right;
        font-size: 22px;
        position: absolute;
      }
    }
  }

  .credits {
    opacity: 0.5;
    font-size: 12px;
    margin-top: 15px;
    font-weight: lighter;

    a {
      color: #eeecdc;
      text-decoration: none;
    }
  }
}

@keyframes modalFadeIn {
  from { opacity: 0; top: 80px; }
  to { opacity: 1; top: 60px; }
}