@import "../../../../../../../styles/variables";

/*-----------------------
  WEATHER-CARD MAIN-INFO
-------------------------*/

.main-info {
  padding: $padding-default;

  .main-info-title {
    font-size: $main-info-title-font-size;
    margin: $main-info-title-margin;
    font-weight: $main-info-title-font-weight;
    text-shadow: $text-shadow;
  }

  .main-info-date {
    opacity: $main-info-date-opacity;
    font-size: $main-info-date-font-size;
    text-shadow: $text-shadow;
  }
  
  .main-info-temp {
    font-size: $main-info-temp-font-size;
    font-weight: $main-info-temp-font-weight;
    margin-top: $main-info-temp-margin-top;
    text-shadow: $text-shadow;
  }

  .main-info-description {
    font-style: $main-info-description-font-style;
    font-size: $main-info-description-font-size;
    opacity: $main-info-description-opacity;
    text-shadow: $text-shadow;
  }

  .main-info-extra {
    position: relative;
    width: $main-info-extra-width;
    margin: auto;
    display: flex;

    .main-info-temp-min, .main-info-temp-max {
      padding: 5px;
      font-size: $main-info-extra-font-size;
      width: 50%;
      margin: 5px;
      text-shadow: $text-shadow;
    }
  }

  .main-info-wind {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: $main-info-wind-width;

    img {
      width: $main-info-wind-img-width;
      margin-right: $main-info-wind-img-margin-right;
      filter: $main-info-wind-img-filter;
    }
  }
}