@import "../../styles/variables";

.weather-card-container {
  margin: 15px auto;
  width: $card-width;
  height: $card-height;
  border: 1px solid orange;
  position: relative;
  float: left;
  transform-style: preserve-3d;
  transition: transform 2.0s cubic-bezier(0,.75,.25,1);
  opacity: 1;
  animation: fadeIn 1s ease;
  cursor: pointer;

  .card {
    width: $card-width;
    height: $card-height;
    border: $card-border;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow;
    backface-visibility: hidden;
    position: absolute;
    margin: auto;
  }

  .front {
    transform: rotateY(0deg);
    text-align: center;
    background: green;
  }

  .verse {
    transform: rotateY(180deg);
  }
}

.front-side {
  transform: rotateY(0deg);

  &:hover {
    transform: rotateY(10deg);
  }
}

.back-side {
  transform: rotateY(540deg);

  &:hover {
    transform: rotateY(550deg);
  }
}

@keyframes fadeIn {
  from { opacity: 0; margin-left: 50%; }
  to { opacity: 1; margin-left: 0; }
}