/*-------------
  GENERAL
--------------*/

//fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');
$app-font-family: 'Josefin Sans', sans-serif;

//body
$app-background: #ebe9d0;

//default-values
$box-shadow:  0 4px 12px rgba(0,0,0,0.8);
$inset-box-shadow: inset 0 0 12px rgba(0,0,0,0.8);
$padding-default: 15px;
$margin-default: 15px;
$margin-double: 30px;
$text-shadow: 0 2px 6px rgba(0,0,0,0.9);
$radius-small: 4px;
$transition-default: .3s ease;

//screen-sizes
$screen-large: 1140px;
$screen-small: 780px;
$screen-smaller: 576px;
$screen-x-small: 380px;

/*-------------
  HEADER
--------------*/

//header
$header-box-shadow: 0 2px 4px rgba(0,0,0,0.6);

//form
$form-max-width: 900px;

//input
$input-border: 1px solid white;
$input-inset-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
$input-font-size: 16px;
$input-padding: 6px;
$input-radius: $radius-small;
$input-height: 34px;
$input-margin-bottom: 1rem;

//search-button
$btn-search-background: linear-gradient(#38d15e, #1d6429);
$btn-search-padding: 6px 15px;

/*-------------
  BODY
--------------*/

//intro-message
$heading-font-size: 50px;
$heading-text-shadow: 0 1px 4px rgba(0,0,0,0.5);
$heading-max-width: 900px;
$heading-padding: 15px;
$heading-margin-top: 10vh;

//responsiveness
$heading-screen-small-font-size: 30px;
$heading-img-screen-small-width: 100px;

/*---------------
  INTERNAL PAGE
----------------*/
$intenal-page-max-width-large: 1145px;
$intenal-page-max-width-medium: 770px;
$intenal-page-max-width-small: 390px;

$internal-page-perspective: 3000px;
$internal-page-perspective-origin: 50% 50%;


/*-------------
  WEATHER-CARD
--------------*/

//card-props
$card-width: 350px;
$card-height: 450px;
$card-border-radius: 6px;
$card-border: 2px solid white;

/*-----------------------
  WEATHER-CARD MAIN-INFO
-------------------------*/

//main-info - title
$main-info-title-font-size: 25px;
$main-info-title-color: white;
$main-info-title-margin: 0;
$main-info-title-font-weight: bolder;

//main-info - date
$main-info-date-font-size: 18px;
$main-info-date-opacity: .6;
$main-info-date-color: white;

//main-info - temp
$main-info-temp-font-size: 60px;
$main-info-temp-color: white;
$main-info-temp-font-weight: 100;
$main-info-temp-margin-top: 10px;

//main-info - description
$main-info-description-font-style: italic;
$main-info-description-font-size: 18px;
$main-info-description-opacity: .6;
$main-info-description-color: white;

//main-info - extra
$main-info-extra-width: 200px;
$main-info-extra-font-size: 14px;
$main-info-extra-color: white;

//main-info - wind
$main-info-wind-width: 95px;
$main-info-wind-color: white;

/*-------------------------
  WEATHER-CARD - WEEK-INFO
---------------------------*/

//week-day-info - week 
$week-border-top: 1px solid white;
$week-padding: 5px 10px;

//week-day-info
$week-day-info-color: white;

//week-day-info - week-day
$week-day-font-weight: bolder;

//week-day-info - day-description
$day-description-font-style: italic;
$day-description-img-width: 30px;
$day-description-img-margin-right: 10px;
$day-description-span-opacity: .8;

//week-day-info - flex-box
$week-day-flex: 2;
$day-description-flex: 5;
$day-temp-flex: 1;

