/*-------------
  GENERAL
--------------*/

//fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');
$app-font-family: 'Josefin Sans', sans-serif;

//body
$app-background: #ebe9d0;


$box-shadow:  0 4px 12px rgba(0,0,0,0.8);
$padding-default: 15px;
$margin-default: 15px;
$margin-double: 30px;
$text-shadow: 0 2px 6px rgba(0,0,0,0.9);

$screen-small: 700px;

/*-------------
  HEADER
--------------*/

//header
$header-box-shadow: 0 2px 4px rgba(0,0,0,0.6);

/*-------------
  BODY
--------------*/

//intro-message
$heading-font-size: 50px;
$heading-text-shadow: 0 1px 4px rgba(0,0,0,0.5);
$heading-max-width: 900px;
$heading-padding: 15px;
$heading-margin-top: 10vh;

//responsiveness
$heading-screen-small-font-size: 30px;
$heading-img-screen-small-width: 100px;


/*-------------
  WEATHER-CARD
--------------*/

//card-props
$card-width: 350px;
$card-height: 450px;
$card-border-radius: 4px;
$card-border: 1px solid blue;

/*-----------------------
  WEATHER-CARD MAIN-INFO
-------------------------*/

//main-info - title
$main-info-title-font-size: 25px;
$main-info-title-color: white;
$main-info-title-margin: 10px;
$main-info-title-font-weight: bolder;

//main-info - date
$main-info-date-font-size: 18px;
$main-info-date-opacity: .6;
$main-info-date-color: white;

//main-info - temp
$main-info-temp-font-size: 60px;
$main-info-temp-color: white;
$main-info-temp-font-weight: 100;
$main-info-temp-margin-top: $margin-double;

//main-info - description
$main-info-description-font-style: italic;
$main-info-description-font-size: 18px;
$main-info-description-opacity: .6;
$main-info-description-color: white;

//main-info - extra
$main-info-extra-width: 200px;
$main-info-extra-font-size: 14px;
$main-info-extra-color: white;

//main-info - wind
$main-info-wind-width: 95px;
$main-info-wind-color: white;

/*-------------------------
  WEATHER-CARD - WEEK-INFO
---------------------------*/

//week-day-info - week 
$week-border-top: 1px solid blue;
$week-padding: 5px;

//week-day-info
$week-day-info-color: white;

//week-day-info - week-day
$week-day-font-weight: bolder;

//week-day-info - day-description
$day-description-font-style: italic;
$day-description-img-width: 30px;
$day-description-img-margin-right: 10px;
$day-description-span-opacity: .8;

//week-day-info - flex-box
$week-day-flex: 2;
$day-description-flex: 5;
$day-temp-flex: 1;

