@import "../../../styles/variables";

.internal-page {
  perspective: 3000px;
  height: 100%;
  perspective-origin: 50% 50%;

  .intro-message {
    
    h1 {
      color: $app-background;
      font-size: $heading-font-size;
      text-shadow: $heading-text-shadow;
      max-width: $heading-max-width;
      padding: $heading-padding;
      margin: auto;
      margin-top: $heading-margin-top;
    }


    @media all and (max-width: $screen-small) {

      h1 {
        font-size: $heading-screen-small-font-size;
      }

      img {
        width: $heading-img-screen-small-width;
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; margin-left: 50%; }
  to { opacity: 1; margin-left: 0; }
}