@import "../../../styles/variables";

.internal-page {
  perspective: $internal-page-perspective;
  max-width: $intenal-page-max-width-large;
  margin: auto;
  perspective-origin: $internal-page-perspective-origin;

  @media all and (max-width: $screen-large) {
    max-width: $intenal-page-max-width-medium;
  }

  @media all and (max-width: $screen-small) {
    max-width: $intenal-page-max-width-small;
  }

  @media all and (max-width: $screen-x-small) {
    max-width: 100%;
  }

  .intro-message {
    margin-top: $heading-margin-top;
    
    h1 {
      color: $app-background;
      font-size: $heading-font-size;
      text-shadow: $heading-text-shadow;
      max-width: $heading-max-width;
      padding: $heading-padding;
      margin: auto;
    }


    @media all and (max-width: $screen-small) {

      h1 {
        font-size: $heading-screen-small-font-size;
      }

      img {
        width: $heading-img-screen-small-width;
      }
    }
  }
}