@import "../styles/variables";

/*-------------
  GENERAL
--------------*/

body {
  margin: 0;
  padding: 0;
  font-family: $app-font-family;
  background: $app-background; 
}

.App {
  text-align: $app-text-align;
}

/*-------------
  HEADER
--------------*/

.App-header {
  background: $header-bg;
  border-bottom: $header-border-bottom;
  padding: $header-padding;
  color: $header-color;
  box-shadow: $header-box-shadow;
}
