@import "../styles/variables";

/**********
  GENERAL
 *********/

body {
  margin: 0;
  padding: 0;
  background: $app-background;
  font-family: $app-font-family;
}

.App {
  text-align: $app-text-align;
}

/*********
  HEADER
 ********/

.App-header {
  text-align: left;
  color: $header-color;
  background: $header-bg;
  padding: $header-padding;
  box-shadow: $header-box-shadow;
  border-bottom: $header-border-bottom;

  .header-logo {
    display: flex;
    align-items: center;
    height: 60px;

    @media all and (max-width: 769px) {
      justify-content: space-around;

      img {
        display: none;
      }
    }

    h4 {
      color: $app-background !important;
      text-shadow: $heading-text-shadow !important;
      margin-bottom: 0;
    }

    img {
      max-width: 80px;
      filter: invert(100%);
    }
  }

  .search-bar-container {
    display: flex;
    align-items: center;
    height: 60px;

    .search-bar {
      flex: 1;
    }
  }
}

.error-container {
  opacity: .8;
  width: 100%;
  padding: 45px;
  background: rgba(255, 113, 116, 0.6);
  border-bottom: 1px solid #d2615d;

  h4 {
    margin: 0;
    color: #cb0000;
  }
}
