@import "../../styles/variables";

.week {
  border-top: 1px solid white;
  padding:  15px;

  .week-day-info {
    display: flex;
    color: white;

    .week-day {
      text-align: left;
      font-weight: bolder;
      flex: 2;
    }

    .day-description {
      font-style: italic;
      text-align: left;
      opacity: .6;
      flex: 3;
    }

    .day-temp {
      text-align: right;
      flex: 1;
    }
  }
}