@import "../../../styles/variables";

/*---------------------------------------
  INTERNAL PAGE / WEATHER-LIST-CONTAINER
-----------------------------------------*/

.internal-page {
  perspective: $internal-page-perspective;
  max-width: $intenal-page-max-width-large;
  margin: auto;
  perspective-origin: $internal-page-perspective-origin;
  opacity: 1;

  @media all and (max-width: $screen-large) {
    max-width: $intenal-page-max-width-medium;
  }

  @media all and (max-width: $screen-small) {
    max-width: $intenal-page-max-width-small;
  }

  @media all and (max-width: $screen-x-small) {
    max-width: 100%;
  }

/*------------------------------
  WELCOME-TEXT / INTRO-MESSAGE
-------------------------------*/

  .intro-message {
    margin-top: $heading-margin-top;
    
    h1 {
      color: $app-background;
      text-shadow: $heading-text-shadow;
      font-size: $heading-font-size;
      max-width: $heading-max-width;
      padding: $heading-padding;
      margin: auto;
    }


    @media all and (max-width: $screen-small) {

      h1 {
        font-size: $heading-screen-small-font-size;
      }

      img {
        width: $heading-img-screen-small-width;
      }
    }
  }

  .bottom-bar {
    position: relative;
    width: 100%;
    padding: 45px;

    img {
      width: 30px;
      opacity: .3;
      cursor: pointer;
      transition: .3s ease;

      &:hover {
        opacity: 1;
        transition: .3s ease;
      }
    }
  }
}

.disabled {
  opacity: .5 !important;
}


.weather-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}