@import "../../../../../styles/variables";

/************************
  WEATHER-CARD-CONTAINER
 ************************/

.weather-card-container {
  margin: 15px;
  width: $card-width;
  height: $card-height;
  box-shadow: $box-shadow;
  border-radius: $card-border-radius;
  position: relative;
  opacity: 1;
  filter: grayscale(50%);
  transition: .3s ease;
  cursor: default;
  overflow: hidden;

  &:before {
    z-index: 2;
    content: '';
    width: 720px;
    height: 160px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.1), rgba(255,255,255,0));
    position: absolute;
    transform: rotateZ(50deg);
    top: 145px;
    left: -185%;
    opacity: .5;
  }

  &:hover {
    box-shadow: $hover-box-shadow;
    opacity: 1;
    filter: grayscale(0%);

    &:before {;
      left: 75%;
      transition: .5s ease;
    }
  }

  @keyframes FadeIn {
    0% { width: 0; }
    100% { width: auto; }
  }

  @media all and (max-width: 400px) {
    margin: 5px auto;
  }

  @media all and (max-width: $screen-x-small) {
    width: $card-width-380px;
    margin: $card-margin-380px;
    min-height: $card-height;
  }

  /*******************
   DROPDOWN-CONTAINER
  ********************/

  .dropdown-container {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;

    button {
      border-radius: 50%;
      border: 1px solid #939393;
      box-shadow: $hover-box-shadow;
      padding: 2px;
      background: white !important;
      color: #444444;

      svg {
        font-size: 1.4em;
        margin: 0;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      transition: .3s ease;

      &:hover {
        background: rgba(0,0,0,0.2);

        svg {
          color: #522e08;
        }
      }
    }
  }
  
  /*************
    WEATER-CARD
   *************/
  

  .card {
    width: $card-width;
    height: $card-height;
    border: $card-border;
    border-radius: $card-border-radius;
    box-shadow: $inset-box-shadow;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    margin: auto;
    color: $card-color;
    background: $card-bg-fallback;
    background: $card-bg-gradient-webkit;
    background: $card-bg-gradient;

    @media all and (max-width: $screen-x-small) {
      width: $card-width-380px;
      margin: $card-margin-380px;
      min-height: $card-height;
      border-radius: $card-border-radius-380px;
    }
  }
}

@keyframes fadeIn {
  from { opacity: $fade-in-opacity-from; }
  to { opacity: $fade-in-opacity-to; }
}

/*********************************
  WEATHER-CARD - STYLE-BY-WEATHER
 *********************************/

/***********
  clear sky
************/

.bg-01d {
  background: url('./img/01d.png') !important;
}

.bg-01n {
  background: url('./img/01n.png') !important;
}

/************
  Few clouds
*************/

.bg-02d {
  background: url('./img/02d.png') !important;
}

.bg-02n {
  background: url('./img/02n.png') !important;
}

/******************
  scattered clouds
*******************/

.bg-03d {
  background: url('./img/03d.png') !important;
  color: $card-inverse-color !important;
  border: $card-inverse-border !important;

  .main-info .main-info-wind img {
    filter: $card-inverse-wind-img-filter !important;
  }

  .main-info {
    .main-info-title, .main-info-date, .main-info-temp, .main-info-description {
      text-shadow: $card-inverse-text-shadow;
    }
  }

  .week {
    border-top: $card-inverse-border !important;

    .week-day-info {
      .week-day, .day-description, .day-temp {
        text-shadow: $card-inverse-text-shadow;
      }
    }
  }
}

.bg-03n {
  background: url('./img/03n.png') !important;
}

/***************
  broken clouds
****************/

.bg-04d {
  background: url('./img/04d.png') !important;
  color: $card-inverse-color !important;
  border: $card-inverse-border !important;

  .main-info .main-info-wind img {
    filter: $card-inverse-wind-img-filter !important;
  }

  .main-info {
    .main-info-title, .main-info-date, .main-info-temp, .main-info-description {
      text-shadow: $card-inverse-text-shadow;
    }
  }

  .week {
    border-top: $card-inverse-border !important;

    .week-day-info {
      .week-day, .day-description, .day-temp {
        text-shadow: $card-inverse-text-shadow;
      }
    }
  }
}

.bg-04n {
  background: url('./img/04n.png') !important;
}

/*************
  shower rain
**************/

.bg-09d {
  background: url('./img/09d.png') !important;
}

.bg-09n {
  background: url('./img/09n.png') !important;
}

/******
  rain
*******/

.bg-10d {
  background: url('./img/10d.png') !important;
  color: $card-inverse-color !important;
  border: $card-inverse-border !important;

  .main-info .main-info-wind img {
    filter: $card-inverse-wind-img-filter !important;
  }

  .main-info {
    .main-info-title, .main-info-date, .main-info-temp, .main-info-description {
      text-shadow: $card-inverse-text-shadow;
    }
  }

  .week {
    border-top: $card-inverse-border !important;

    .week-day-info {
      .week-day, .day-description, .day-temp {
        text-shadow: $card-inverse-text-shadow;
      }
    }
  }
}

.bg-10n {
  background: url('./img/10n.png') !important;
}

/**************
  thunderstorm
***************/

.bg-11d {
  background: url('./img/11d.png') !important;
}

.bg-11n {
  background: url('./img/11n.png') !important;
}

/******
  snow
*******/

.bg-13d {
  background: url('./img/13d.png') !important;
}

.bg-13n {
  background: url('./img/13n.png') !important;
}

/******
  mist
*******/

.bg-50d {
  background: url('./img/50d.png') !important;
}

.bg-50n {
  background: url('./img/50n.png') !important;
}